.btn {
    font-weight: 500;
    font-size: 20px;
    height: 46px;
    border-radius: 23px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    color: var(--white);

    &:hover {
        text-decoration: none;
        color: var(--white);
    }
    &-one {
        background-color: var(--blue);

        &:hover {
            background-color: var(--blue-dark);
        }
    }
    &-two {
        background-color: var(--yellow);

        &:hover {
            background-color: var(--yellow-dark);
        }
    }
}