.block-contacts {
    background-color: var(--blue);
    padding: 50px 0 70px;

    &__title {
        margin: 0 0 60px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__line {
        display: flex;
        margin: 0 0 10px;
    }
    &__label {
        color: var(--blue-tar);

        &_inner {
            width: 95px;
        }
    }
    &__phone {
        font-weight: 500;
        text-decoration: none;
    }
    &__addr {
        color: var(--white);
        font-weight: 500;
        max-width: calc(100% - 95px);
    }
    &__link {
        color: var(--white);
        fill: var(--white);
        display: flex;
        align-items: center;

        &:hover {
            color: var(--white-opacity);
            fill: var(--white-opacity);
            text-decoration: none;
        }
    }
    &__icon {
        height: 20px;
        width: 20px;
        margin: 0 5px 0 0;
    }

    @include media-breakpoint-only(xl)
    {
        &__block {
            padding: 0 0 0 40px;

            &_right {
                width: 25%;
            }
        }
        &__addr,
        &__link {
            font-size: 17px;
        }
    }
    @include media-breakpoint-down(sm)
    {
        & {
            padding: 50px 0 35px;

            &__title {
                margin: 0 0 35px;
            }
            &__block {
                margin: 0 0 15px;

                &_left {
                    width: 100%;
                }
            }
        }
    }
    @include media-breakpoint-down(xs)
    {
        &__block {

            &_right {
                width: 100%;
            }
        }
    }
}

.block-social {
    display: flex;
    align-items: center;

    &__link {

        &:hover {
            opacity: .5;
        }
    }
    &__icon {
        display: block;

        &_ig {
            width: 34px;
            height: 34px;
            margin: 0 15px 0 0;
        }
        &_yt {
            width: 40px;
            height: 28px;
        }
    }
}