.main-footer {
    background-color: var(--blue-dark);
    color: var(--white);
    font-size: 13px;

    & a {
        color: var(--white);
        text-decoration: none;

        &:hover {
            color: var(--white-opacity);
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        height: 76px;
    }
    &__block {
        margin: 0 70px;
    }
    &__phone {
        margin: 0 15px 0 0;
    }
    &__icon {
        margin: 0 5px 0 0;
        fill: var(--blue-tar);

        &_letter {
            width: 16px;
            height: 10px;
        }
        &_phone {
            width: 16px;
            height: 16px;
        }
        &_user {
            width: 14px;
            height: 16px;
        }
    }
}

.auth-bottom {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;

    &__link {
        margin: 0 10px 0 5px;
    }
}