.main-main {
    padding: 123px 0 0;

    @include media-breakpoint-down(sm)
    {
        & {
            padding: 70px 0 0;
        }
    }
}

.block {
    height: 500px;
    border-top: 1px solid red;
}