<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <title>Avancut</title>

</head>
<body>

    <!-- Панель битрикса вставить сюда, до position-relative (если она будет) -->

    <div class="position-relative">

        <!-- Шапка сайта -->
        <header class="main-header">
            <div class="container">
                <div class="main-header__inner">
                    <div class="main-header__left">
                        <a href="javascript:;" class="menu-top-btn">
                            <span class="menu-top-btn__icon"></span>
                        </a>
                        <a href="/" class="main-header__logo">
                            <img class="main-header__logo-pict" src="./local/img/logo.png" alt="">
                        </a>
                        <a href="tel:+78005511254" class="main-header__call">
                            <svg class="main-header__call-icon">
                                <use xlink:href="./local/img/sprite.svg#phone"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="main-header__center">
                        <div class="main-header__top">

                            <div class="auth-top">
                                <a href="javascript:;" class="auth-top__link">Войти</a>
                                <a href="javascript:;" class="auth-top__link">Зарегистрироваться</a>
                            </div>

                            <div class="main-header__links">
                                <a href="mailto:mail@avancut.ru" class="main-header__link">
                                    <svg class="main-header__icon main-header__icon_letter">
                                        <use xlink:href="./local/img/sprite.svg#letter"></use>
                                    </svg>
                                    mail@avancut.ru
                                </a>
                                <a href="javascript:;" class="main-header__link main-header__link_callback">
                                    <svg class="main-header__icon main-header__icon_phone">
                                        <use xlink:href="./local/img/sprite.svg#phone"></use>
                                    </svg>
                                    Заказать звонок
                                </a>
                                <a href="tel:+78005511254" class="main-header__phone">8 (800) 551 12 54</a>
                            </div>

                        </div>
                        <div class="main-header__bottom">

                            <nav class="menu-top">
                                <a href="#action" class="menu-top__link menu-top__link_active">Акция</a>
                                <a href="#benefits" class="menu-top__link">Преимущества</a>
                                <a href="#service" class="menu-top__link">Наш сервис</a>
                                <a href="#offer" class="menu-top__link">Предложения</a>
                                <a href="#interesting" class="menu-top__link">Интересное</a>
                                <a href="#contacts" class="menu-top__link">Контакты</a>
                            </nav>

                            <a href="javascript:;" class="main-header__kp" data-fancybox data-src="#get-kp">Получить КП</a>

                        </div>
                        <a href="javascript:;" class="menu-top-close"></a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Рабочая область -->
        <main class="main-main">

            <div class="block-about">
                <div class="container">
                    <div class="position-relative">
                        <div class="bg-figure">
                            <svg class="bg-figure__elem bg-figure__elem_a">
                                <use xlink:href="./local/img/sprite.figure.svg#a"></use>
                            </svg>
                            <svg class="bg-figure__elem bg-figure__elem_b">
                                <use xlink:href="./local/img/sprite.figure.svg#b"></use>
                            </svg>
                            <svg class="bg-figure__elem bg-figure__elem_c">
                                <use xlink:href="./local/img/sprite.figure.svg#c"></use>
                            </svg>
                            <svg class="bg-figure__elem bg-figure__elem_d">
                                <use xlink:href="./local/img/sprite.figure.svg#d"></use>
                            </svg>
                        </div>
                        <div class="block-about__inner after-figure">
                            <div class="block-about__left">
                                <div class="h2 color-white">
                                    Avancut<br>
                                    Technology
                                </div>
                            </div>
                            <div class="block-about__right">
                                <div class="block-about__line">
                                    Роботизированный сервис для создания управляющих программ для ваших станков лазерной резки
                                </div>
                                <div class="block-about__line">
                                    Создает управляющие программы для станков лазерной резки
                                </div>
                                <div class="block-about__line">
                                    Экономьте деньги на зарплате технологов
                                </div>
                                <div class="block-about__line">
                                    Избавьтесь от проблем с поиском технологов
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-action block-point" id="action">
                <div class="container">
                    <div class="position-relative">
                        <div class="bg-word bg-word_action">Акция</div>
                        <div class="bg-figure">
                            <svg class="bg-figure__elem bg-figure__elem_prezent">
                                <use xlink:href="./local/img/sprite.figure.svg#prezent"></use>
                            </svg>
                        </div>
                        <div class="block-action__inner after-figure">
                            <div class="block-action__left">
                                <div class="block-action__title">
                                    Заполните анкету<br>
                                    и получите подарок
                                </div>
                            </div>
                            <div class="block-action__right">
                                <div class="block-action__count">10</div>
                                <div class="block-action__text">
                                    оплаченных<br>
                                    часов
                                </div>
                            </div>
                            <div class="block-action__left">
                                <a href="javascript::" class="btn btn-one" data-fancybox data-src="#w4">Заполнить анкету</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-benefits block-point" id="benefits">
                <div class="container">
                    <div class="position-relative">
                        <div class="bg-word">Преимущества</div>
                        <div class="block-benefits__inner after-figure">
                            <div class="block-benefits__title h2 text-center">Что мы предлагаем</div>
                            <div class="block-benefits__items">
                                <div class="position-relative">
                                    <div class="bg-figure d-none d-md-block">
                                        <svg class="bg-figure__elem bg-figure__elem_e">
                                            <use xlink:href="./local/img/sprite.figure.svg#e"></use>
                                        </svg>
                                        <svg class="bg-figure__elem bg-figure__elem_f">
                                            <use xlink:href="./local/img/sprite.figure.svg#f"></use>
                                        </svg>
                                        <svg class="bg-figure__elem bg-figure__elem_g">
                                            <use xlink:href="./local/img/sprite.figure.svg#g"></use>
                                        </svg>
                                        <svg class="bg-figure__elem bg-figure__elem_h">
                                            <use xlink:href="./local/img/sprite.figure.svg#h"></use>
                                        </svg>
                                        <svg class="bg-figure__elem bg-figure__elem_i">
                                            <use xlink:href="./local/img/sprite.figure.svg#i"></use>
                                        </svg>
                                    </div>
                                    <div class="after-figure">
                                        <div class="block-benefits__item">
                                            <div class="block-benefits__pict">
                                                <img src="./local/uploads/benefits.1.jpg" alt="" class="block-benefits__img">
                                            </div>
                                            <div class="block-benefits__name">
                                                <div class="block-benefits__num">1</div>
                                                Загружайте чертежи и получайте готовые УП для загрузки в ваш станок лазерной резки
                                            </div>
                                        </div>
                                        <div class="block-benefits__item">
                                            <div class="block-benefits__pict">
                                                <img src="./local/uploads/benefits.2.jpg" alt="" class="block-benefits__img">
                                            </div>
                                            <div class="block-benefits__name">
                                                <div class="block-benefits__num">2</div>
                                                Доверьте свой станок профессионалам лазерной резки
                                            </div>
                                        </div>
                                        <div class="block-benefits__item">
                                            <div class="block-benefits__pict">
                                                <img src="./local/uploads/benefits.3.jpg" alt="" class="block-benefits__img">
                                            </div>
                                            <div class="block-benefits__name">
                                                <div class="block-benefits__num">3</div>
                                                Не надо платить сотруднику зарплату, платите только за выполненные задания
                                            </div>
                                        </div>
                                        <div class="block-benefits__item">
                                            <div class="block-benefits__pict">
                                                <img src="./local/uploads/benefits.4.jpg" alt="" class="block-benefits__img">
                                            </div>
                                            <div class="block-benefits__name">
                                                <div class="block-benefits__num">4</div>
                                                Получайте качественные УП и зарабатывайте больше
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-service block-point" id="service">
                <div class="container">
                    <div class="position-relative">
                        <div class="bg-word">О нашем сервисе</div>
                        <div class="block-service__inner">
                            <div class="block-service__title h2 text-center after-figure">
                                Что такое <span class="color-yellow">Avancut Technology</span>
                            </div>
                            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="block-service__link">
                                <div class="bg-figure d-none d-md-block">
                                    <svg class="bg-figure__elem bg-figure__elem_word">
                                        <use xlink:href="./local/img/sprite.figure.svg#word"></use>
                                    </svg>
                                    <svg class="bg-figure__elem bg-figure__elem_j">
                                        <use xlink:href="./local/img/sprite.figure.svg#j"></use>
                                    </svg>
                                    <svg class="bg-figure__elem bg-figure__elem_k">
                                        <use xlink:href="./local/img/sprite.figure.svg#k"></use>
                                    </svg>
                                    <svg class="bg-figure__elem bg-figure__elem_l">
                                        <use xlink:href="./local/img/sprite.figure.svg#l"></use>
                                    </svg>
                                    <svg class="bg-figure__elem bg-figure__elem_m">
                                        <use xlink:href="./local/img/sprite.figure.svg#m"></use>
                                    </svg>
                                </div>
                                <div class="block-service__block after-figure">
                                    <div class="block-service__name h1 color-white">
                                        Инструкция
                                    </div>
                                    <div class="block-service__text">
                                        Открой широкие возможности<br> 
                                        с системой Avancut Technology.<br>
                                        Удобно, понятно, а главное - практично!
                                    </div>
                                </div>
                                <svg class="block-service__btn">
                                    <use xlink:href="./local/img/sprite.svg#play"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="block-offer block-point" id="offer">
                <div class="container">
                    <div class="block-offer__block">
                        <div class="bg-figure d-none d-lg-block">
                            <svg class="bg-figure__elem bg-figure__elem_n">
                                <use xlink:href="./local/img/sprite.figure.svg#n"></use>
                            </svg>
                            <svg class="bg-figure__elem bg-figure__elem_o">
                                <use xlink:href="./local/img/sprite.figure.svg#o"></use>
                            </svg>
                            <svg class="bg-figure__elem bg-figure__elem_p">
                                <use xlink:href="./local/img/sprite.figure.svg#p"></use>
                            </svg>
                            <svg class="bg-figure__elem bg-figure__elem_r">
                                <use xlink:href="./local/img/sprite.figure.svg#r"></use>
                            </svg>
                        </div>
                        <div class="block-offer__inner after-figure">
                            <div class="block-offer__title h3">
                                Лазерный станок<br>
                                <span class="color-yellow">CHAMPION</span>
                            </div>
                            <div class="block-offer__text">
                                Первый в мире станок<br>
                                с минерало-композитной станиной!
                            </div>
                            <a href="javascript:;" class="btn btn-two" data-fancybox data-src="#w5">
                                Получить<span class="d-none d-sm-inline">&nbsp;коммерческое</span>&nbsp;предложение
                            </a>
                        </div>
                        <img src="./local/uploads/offer.jpg" alt="" class="block-offer__img">
                        <div class="block-offer__info">Рекламное объявление</div>
                        <div class="block-offer__box">
                            Мощная 6-ти зональная система удаления продуктов горения, не имеющая аналогов
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-interesting block-point" id="interesting">
                <div class="container">
                    <div class="position-relative">
                        <div class="bg-word">Интересные факты</div>
                        <div class="block-interesting__inner">
                            <div class="block-interesting__title h2 text-center after-figure">
                                О лазерной резке металлов
                            </div>
                            <div class="block-interesting__block">
                                <div class="block-interesting__slider swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="block-interesting__slide swiper-slide">
                                            <div class="bg-figure">
                                                <svg class="bg-figure__elem bg-figure__elem_s">
                                                    <use xlink:href="./local/img/sprite.figure.svg#s"></use>
                                                </svg>
                                                <svg class="bg-figure__elem bg-figure__elem_u">
                                                    <use xlink:href="./local/img/sprite.figure.svg#u"></use>
                                                </svg>
                                                <svg class="bg-figure__elem bg-figure__elem_t">
                                                    <use xlink:href="./local/img/sprite.figure.svg#t"></use>
                                                </svg>
                                            </div>
                                            <div class="block-interesting__num">Факт 1 из 10</div>
                                            <div class="after-figure">
                                                <img src="./local/uploads/interesting.1.jpg" alt="" class="block-interesting__img">
                                                <div class="block-interesting__name">Максимальная скорость холостого хода</div>
                                                <div class="block-interesting__text">Скорость до 141м/мин без вибрации и резонирования станка</div>
                                            </div>
                                        </div>
                                        <div class="block-interesting__slide swiper-slide">
                                            <div class="bg-figure">
                                                <svg class="bg-figure__elem bg-figure__elem_v">
                                                    <use xlink:href="./local/img/sprite.figure.svg#v"></use>
                                                </svg>
                                                <svg class="bg-figure__elem bg-figure__elem_w">
                                                    <use xlink:href="./local/img/sprite.figure.svg#w"></use>
                                                </svg>
                                                <svg class="bg-figure__elem bg-figure__elem_x">
                                                    <use xlink:href="./local/img/sprite.figure.svg#x"></use>
                                                </svg>
                                                <svg class="bg-figure__elem bg-figure__elem_y">
                                                    <use xlink:href="./local/img/sprite.figure.svg#y"></use>
                                                </svg>
                                            </div>
                                            <div class="block-interesting__num block-interesting__num_right">Факт 2 из 10</div>
                                            <div class="after-figure">
                                                <img src="./local/uploads/interesting.2.jpg" alt="" class="block-interesting__img">
                                                <div class="block-interesting__name">Выкатная палетта уже<br>в базовой комплектации</div>
                                                <div class="block-interesting__text">Скорость до 141м/мин без вибрации и резонирования станка</div>
                                            </div>
                                        </div>
                                        <div class="block-interesting__slide swiper-slide">
                                            <div class="bg-figure">
                                                <svg class="bg-figure__elem bg-figure__elem_s">
                                                    <use xlink:href="./local/img/sprite.figure.svg#s"></use>
                                                </svg>
                                                <svg class="bg-figure__elem bg-figure__elem_u">
                                                    <use xlink:href="./local/img/sprite.figure.svg#u"></use>
                                                </svg>
                                                <svg class="bg-figure__elem bg-figure__elem_t">
                                                    <use xlink:href="./local/img/sprite.figure.svg#t"></use>
                                                </svg>
                                            </div>
                                            <div class="block-interesting__num">Факт 3 из 10</div>
                                            <div class="after-figure">
                                                <img src="./local/uploads/interesting.1.jpg" alt="" class="block-interesting__img">
                                                <div class="block-interesting__name">Максимальная скорость холостого хода</div>
                                                <div class="block-interesting__text">Скорость до 141м/мин без вибрации и резонирования станка</div>
                                            </div>
                                        </div>
                                        <div class="block-interesting__slide swiper-slide">
                                            <div class="bg-figure">
                                                <svg class="bg-figure__elem bg-figure__elem_v">
                                                    <use xlink:href="./local/img/sprite.figure.svg#v"></use>
                                                </svg>
                                                <svg class="bg-figure__elem bg-figure__elem_w">
                                                    <use xlink:href="./local/img/sprite.figure.svg#w"></use>
                                                </svg>
                                                <svg class="bg-figure__elem bg-figure__elem_x">
                                                    <use xlink:href="./local/img/sprite.figure.svg#x"></use>
                                                </svg>
                                                <svg class="bg-figure__elem bg-figure__elem_y">
                                                    <use xlink:href="./local/img/sprite.figure.svg#y"></use>
                                                </svg>
                                            </div>
                                            <div class="block-interesting__num block-interesting__num_right">Факт 4 из 10</div>
                                            <div class="after-figure">
                                                <img src="./local/uploads/interesting.2.jpg" alt="" class="block-interesting__img">
                                                <div class="block-interesting__name">Выкатная палетта уже<br>в базовой комплектации</div>
                                                <div class="block-interesting__text">Скорость до 141м/мин без вибрации и резонирования станка</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:;" class="block-interesting__prev">
                                    <svg class="block-interesting__str">
                                        <use xlink:href="./local/img/sprite.svg#str"></use>
                                    </svg>
                                </a>
                                <a href="javascript:;" class="block-interesting__next">
                                    <svg class="block-interesting__str block-interesting__str_rotate">
                                        <use xlink:href="./local/img/sprite.svg#str"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="block-contacts block-point" id="contacts">
                <div class="container">
                    <div class="block-contacts__title h2 text-center color-white">Как с нами связаться</div>
                    <div class="block-contacts__inner">
                        <div class="block-contacts__block block-contacts__block_left">
                            <div class="block-contacts__line">
                                <div class="block-contacts__label block-contacts__label_inner">Телефон:</div>
                                <a href="tel:+78005511254" class="block-contacts__link block-contacts__phone">8 (800) 551 12 54</a>
                            </div>
                            <div class="block-contacts__line">
                                <div class="block-contacts__label block-contacts__label_inner">Адрес:</div>
                                <div class="block-contacts__addr">Челябинск, ул. Хлебозаводская, д.7</div>
                            </div>
                            <div class="block-contacts__line">
                                <div class="block-contacts__label block-contacts__label_inner">E-mail:</div>
                                <a href="mailto:mail@chssz.ru" class="block-contacts__link">mail@chssz.ru</a>
                            </div>
                        </div>
                        <div class="block-contacts__block block-contacts__block_center">
                            <div class="block-contacts__line">
                                <div class="block-contacts__label">Реквизиты:</div>
                            </div>
                            <div class="block-contacts__line">
                                <a href="javascript:;" class="block-contacts__link">Просмотреть реквизиты</a>
                            </div>
                            <div class="block-contacts__line">
                                <a href="javascript:;" class="block-contacts__link">
                                    <svg class="block-contacts__icon">
                                        <use xlink:href="./local/img/sprite.svg#word"></use>
                                    </svg>
                                    Скачать реквизиты
                                </a>
                            </div>
                        </div>
                        <div class="block-contacts__block block-contacts__block_right">
                            <div class="block-contacts__line">
                                <div class="block-contacts__label">Мы в соцсетях:</div>
                            </div>
                            <div class="block-social">
                                <a href="javascript:;" class="block-social__link">
                                    <img src="./local/img/ig.svg" class="block-social__icon block-social__icon_ig">
                                </a>
                                <a href="javascript:;" class="block-social__link">
                                    <svg class="block-social__icon block-social__icon_yt">
                                        <use xlink:href="./local/img/sprite.svg#yt"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <!-- Подвал сайта -->
        <footer class="main-footer">
            <div class="container">
                <div class="main-footer__inner">
                    <div class="main-footer__copy">
                        © 2020 Avancut technology
                    </div>
                    <div class="auth-bottom">
                        <svg class="main-footer__icon main-footer__icon_user">
                            <use xlink:href="./local/img/sprite.svg#user"></use>
                        </svg>
                        <a href="javascript:;" class="auth-bottom__link">Войти</a>
                        <a href="javascript:;" class="auth-bottom__link">Зарегистрироваться</a>
                    </div>
                    <div class="main-footer__block">
                        <a href="tel:+78005511254" class="main-footer__phone">
                            <svg class="main-footer__icon main-footer__icon_phone">
                                <use xlink:href="./local/img/sprite.svg#phone"></use>
                            </svg>
                            8 (800) 551 12 54
                        </a>
                        <a href="javascript:;" class="main-footer__callback">
                            Заказать звонок
                        </a>
                    </div>
                    <a href="mailto:mail@chssz.ru" class="">
                        <svg class="main-footer__icon main-footer__icon_letter">
                            <use xlink:href="./local/img/sprite.svg#letter"></use>
                        </svg>
                        mail@chssz.ru
                    </a>
                </div>
            </div>
        </footer>

    </div>

    <div class="window-one" id="get-kp">
        <div class="window-one__head">
            <div class="window-one__title">Название окна</div>
            <div class="window-one__xs-full">

                <label class="checkbox-one checkbox-one_xs-revers">
                    <div class="checkbox-one__label">Чекбокс</div>
                    <div class="checkbox-one__box checkbox-one__box_right">
                        <input class="checkbox-one__input" type="checkbox" value="" checked>
                        <span class="checkbox-one__circle"></span>
                    </div>
                </label>

            </div>
        </div>
        <div class="window-one__body">

            <div class="form-input mb-15">
                <input class="form-input__input" type="text" value="" placeholder="Ваше имя">
            </div>

            <div class="mb-15">
                <label class="checkbox-one">            
                    <div class="checkbox-one__box checkbox-one__box_left">
                        <input class="checkbox-one__input" type="checkbox" value="" checked>
                        <span class="checkbox-one__circle"></span>
                    </div>
                    <div class="checkbox-one__label">Чекбокс</div>
                </label>
            </div>

            <div class="form-textarea mb-15">
                <textarea class="form-textarea__input" placeholder="Введите текст комментария"></textarea>
            </div>

        </div>
        <div class="window-one__foot">
            <div class="window-one__foot-left">
                <button type="submit" class="btn btn-two">
                    Отправить
                </button>
            </div>
        </div>
    </div>

    <div class="window-one window-one_short" id="w4">
        <div class="window-one__head"></div>
        <div class="window-one__body text-center">
            <div class="window-icon">
                <svg class="window-icon__attention">
                    <use xlink:href="./local/img/sprite.svg#a"></use>
                </svg>
            </div>
            <div class="window-one__title mb-20">Какая-то ошибка</div>
            <p>
                Какое-то действие не удалось выполнить или выполнено действие по удалению чего-то, например.
            </p>
        </div>
    </div>

    <div class="window-one window-one_short" id="w5">
        <div class="window-one__head"></div>
        <div class="window-one__body text-center">
            <div class="window-icon">
                <svg class="window-icon__correct">
                    <use xlink:href="./local/img/sprite.svg#с"></use>
                </svg>
            </div>
            <div class="window-one__title mb-20">Что-то успешно добавлено</div>
            <p>
                Какое-то действие успешно удалось выполнить, например, успешно добавить или сохранить правило и т.д.
            </p>
        </div>
    </div>

</body>
</html>