<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <title>Avancut</title>

</head>
<body>

    <!-- Панель битрикса вставить сюда, до position-relative (если она будет) -->

    <div class="position-relative">

        <!-- Шапка сайта -->
        <header class="main-header">
            <div class="container">
                <div class="main-header__inner">
                    <div class="main-header__left">
                        <a href="javascript:;" class="menu-top-btn">
                            <span class="menu-top-btn__icon"></span>
                        </a>
                        <a href="/" class="main-header__logo">
                            <img class="main-header__logo-pict" src="./local/img/logo.png" alt="">
                        </a>
                        <a href="tel:+78005511254" class="main-header__call">
                            <svg class="main-header__call-icon">
                                <use xlink:href="./local/img/sprite.svg#phone"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="main-header__center">
                        <div class="main-header__top">

                            <div class="auth-top">
                                <a href="javascript:;" class="auth-top__link">Войти</a>
                                <a href="javascript:;" class="auth-top__link">Зарегистрироваться</a>
                            </div>

                            <div class="main-header__links">
                                <a href="mailto:mail@avancut.ru" class="main-header__link">
                                    <svg class="main-header__icon main-header__icon_letter">
                                        <use xlink:href="./local/img/sprite.svg#letter"></use>
                                    </svg>
                                    mail@avancut.ru
                                </a>
                                <a href="javascript:;" class="main-header__link main-header__link_callback">
                                    <svg class="main-header__icon main-header__icon_phone">
                                        <use xlink:href="./local/img/sprite.svg#phone"></use>
                                    </svg>
                                    Заказать звонок
                                </a>
                                <a href="tel:+78005511254" class="main-header__phone">8 (800) 551 12 54</a>
                            </div>

                        </div>
                        <div class="main-header__bottom">

                            <nav class="menu-top">
                                <a href="#action" class="menu-top__link menu-top__link_active">Акция</a>
                                <a href="#benefits" class="menu-top__link">Преимущества</a>
                                <a href="#service" class="menu-top__link">Наш сервис</a>
                                <a href="#offer" class="menu-top__link">Предложения</a>
                                <a href="#interesting" class="menu-top__link">Интересное</a>
                                <a href="#contacts" class="menu-top__link">Контакты</a>
                            </nav>

                            <a href="javascript:;" class="main-header__kp">Получить КП</a>

                        </div>
                        <a href="javascript:;" class="menu-top-close"></a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Рабочая область -->
        <main class="main-main">

            <div class="block-about">
                <div class="container">
                    <div class="position-relative">
                        <div class="bg-figure">
                            <svg class="bg-figure__elem bg-figure__elem_a">
                                <use xlink:href="./local/img/sprite.figure.svg#a"></use>
                            </svg>
                            <svg class="bg-figure__elem bg-figure__elem_b">
                                <use xlink:href="./local/img/sprite.figure.svg#b"></use>
                            </svg>
                            <svg class="bg-figure__elem bg-figure__elem_c">
                                <use xlink:href="./local/img/sprite.figure.svg#c"></use>
                            </svg>
                            <svg class="bg-figure__elem bg-figure__elem_d">
                                <use xlink:href="./local/img/sprite.figure.svg#d"></use>
                            </svg>
                        </div>
                        <div class="block-about__inner after-figure">
                            <div class="block-about__left">
                                <div class="h2 color-white">
                                    Avancut<br>
                                    Technology
                                </div>
                            </div>
                            <div class="block-about__right">
                                <div class="block-about__line">
                                    Роботизированный сервис для создания управляющих программ для ваших станков лазерной резки
                                </div>
                                <div class="block-about__line">
                                    Создает управляющие программы для станков лазерной резки
                                </div>
                                <div class="block-about__line">
                                    Экономьте деньги на зарплате технологов
                                </div>
                                <div class="block-about__line">
                                    Избавьтесь от проблем с поиском технологов
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-action block-point" id="action">
                <div class="container">
                    <div class="position-relative">
                        <div class="bg-word bg-word_action">Акция</div>
                        <div class="bg-figure">
                            <svg class="bg-figure__elem bg-figure__elem_prezent">
                                <use xlink:href="./local/img/sprite.figure.svg#prezent"></use>
                            </svg>
                        </div>
                        <div class="block-action__inner after-figure">
                            <div class="block-action__left">
                                <div class="block-action__title">
                                    Заполните анкету<br>
                                    и получите подарок
                                </div>
                            </div>
                            <div class="block-action__right">
                                <div class="block-action__count">10</div>
                                <div class="block-action__text">
                                    оплаченных<br>
                                    часов
                                </div>
                            </div>
                            <div class="block-action__left">
                                <a href="javascript::" class="btn btn-one">Заполнить анкету</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-benefits block-point" id="benefits">
                <div class="container">
                    <div class="position-relative">
                        <div class="bg-word">Преимущества</div>
                        <div class="block-benefits__inner after-figure">
                            <div class="block-benefits__title h2 text-center">Что мы предлагаем</div>
                            <div class="block-benefits__items">
                                <div class="position-relative">
                                    <div class="bg-figure d-none d-md-block">
                                        <svg class="bg-figure__elem bg-figure__elem_e">
                                            <use xlink:href="./local/img/sprite.figure.svg#e"></use>
                                        </svg>
                                        <svg class="bg-figure__elem bg-figure__elem_f">
                                            <use xlink:href="./local/img/sprite.figure.svg#f"></use>
                                        </svg>
                                        <svg class="bg-figure__elem bg-figure__elem_g">
                                            <use xlink:href="./local/img/sprite.figure.svg#g"></use>
                                        </svg>
                                        <svg class="bg-figure__elem bg-figure__elem_h">
                                            <use xlink:href="./local/img/sprite.figure.svg#h"></use>
                                        </svg>
                                        <svg class="bg-figure__elem bg-figure__elem_i">
                                            <use xlink:href="./local/img/sprite.figure.svg#i"></use>
                                        </svg>
                                    </div>
                                    <div class="after-figure">
                                        <div class="block-benefits__item">
                                            <div class="block-benefits__pict">
                                                <img src="./local/uploads/benefits.1.jpg" alt="" class="block-benefits__img">
                                            </div>
                                            <div class="block-benefits__name">
                                                <div class="block-benefits__num">1</div>
                                                Загружайте чертежи и получайте готовые УП для загрузки в ваш станок лазерной резки
                                            </div>
                                        </div>
                                        <div class="block-benefits__item">
                                            <div class="block-benefits__pict">
                                                <img src="./local/uploads/benefits.2.jpg" alt="" class="block-benefits__img">
                                            </div>
                                            <div class="block-benefits__name">
                                                <div class="block-benefits__num">2</div>
                                                Доверьте свой станок профессионалам лазерной резки
                                            </div>
                                        </div>
                                        <div class="block-benefits__item">
                                            <div class="block-benefits__pict">
                                                <img src="./local/uploads/benefits.3.jpg" alt="" class="block-benefits__img">
                                            </div>
                                            <div class="block-benefits__name">
                                                <div class="block-benefits__num">3</div>
                                                Не надо платить сотруднику зарплату, платите только за выполненные задания
                                            </div>
                                        </div>
                                        <div class="block-benefits__item">
                                            <div class="block-benefits__pict">
                                                <img src="./local/uploads/benefits.4.jpg" alt="" class="block-benefits__img">
                                            </div>
                                            <div class="block-benefits__name">
                                                <div class="block-benefits__num">4</div>
                                                Получайте качественные УП и зарабатывайте больше
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block block-point" id="service"></div>
            <div class="block block-point" id="offer"></div>
            <div class="block block-point" id="interesting"></div>

            <div class="block-contacts block-point" id="contacts">
                <div class="container">
                    <div class="block-contacts__title h2 text-center color-white">Как с нами связаться</div>
                    <div class="block-contacts__inner">
                        <div class="block-contacts__block block-contacts__block_left">
                            <div class="block-contacts__line">
                                <div class="block-contacts__label block-contacts__label_inner">Телефон:</div>
                                <a href="tel:+78005511254" class="block-contacts__link block-contacts__phone">8 (800) 551 12 54</a>
                            </div>
                            <div class="block-contacts__line">
                                <div class="block-contacts__label block-contacts__label_inner">Адрес:</div>
                                <div class="block-contacts__addr">Челябинск, ул. Хлебозаводская, д.7</div>
                            </div>
                            <div class="block-contacts__line">
                                <div class="block-contacts__label block-contacts__label_inner">E-mail:</div>
                                <a href="mailto:mail@chssz.ru" class="block-contacts__link">mail@chssz.ru</a>
                            </div>
                        </div>
                        <div class="block-contacts__block block-contacts__block_center">
                            <div class="block-contacts__line">
                                <div class="block-contacts__label">Реквизиты:</div>
                            </div>
                            <div class="block-contacts__line">
                                <a href="javascript:;" class="block-contacts__link">Просмотреть реквизиты</a>
                            </div>
                            <div class="block-contacts__line">
                                <a href="javascript:;" class="block-contacts__link">
                                    <svg class="block-contacts__icon">
                                        <use xlink:href="./local/img/sprite.svg#word"></use>
                                    </svg>
                                    Скачать реквизиты
                                </a>
                            </div>
                        </div>
                        <div class="block-contacts__block block-contacts__block_right">
                            <div class="block-contacts__line">
                                <div class="block-contacts__label">Мы в соцсетях:</div>
                            </div>
                            <div class="block-social">
                                <a href="javascript:;" class="block-social__link">
                                    <img src="./local/img/ig.svg" class="block-social__icon block-social__icon_ig">
                                </a>
                                <a href="javascript:;" class="block-social__link">
                                    <svg class="block-social__icon block-social__icon_yt">
                                        <use xlink:href="./local/img/sprite.svg#yt"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <!-- Подвал сайта -->
        <footer class="main-footer">
            <div class="container">
                <div class="main-footer__inner">
                    <div class="main-footer__copy">
                        © 2020 Avancut technology
                    </div>
                    <div class="auth-bottom">
                        <svg class="main-footer__icon main-footer__icon_user">
                            <use xlink:href="./local/img/sprite.svg#user"></use>
                        </svg>
                        <a href="javascript:;" class="auth-bottom__link">Войти</a>
                        <a href="javascript:;" class="auth-bottom__link">Зарегистрироваться</a>
                    </div>
                    <div class="main-footer__block">
                        <a href="tel:+78005511254" class="main-footer__phone">
                            <svg class="main-footer__icon main-footer__icon_phone">
                                <use xlink:href="./local/img/sprite.svg#phone"></use>
                            </svg>
                            8 (800) 551 12 54
                        </a>
                        <a href="javascript:;" class="main-footer__callback">
                            Заказать звонок
                        </a>
                    </div>
                    <a href="mailto:mail@chssz.ru" class="">
                        <svg class="main-footer__icon main-footer__icon_letter">
                            <use xlink:href="./local/img/sprite.svg#letter"></use>
                        </svg>
                        mail@chssz.ru
                    </a>
                </div>
            </div>
        </footer>

    </div>

</body>
</html>